#navbar,
#navbar1,
#navbar2,
#navbar3 {
  display: flex;
  flex-direction: column;
}
#navbar,
#navbar1 {
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  margin: 0;
}
#navbar1 {
  position: sticky;
}
#sloth {
  width: 50px;
  border-radius: 50%;
}

h1 {
  text-align: center;
  margin-block: 1em;
  font-weight: 700;
}
h2 {
  margin-bottom: 1em;
}
h5,
h6 {
  font-weight: 600;
}
h2 {
  font-weight: 700;
}

.card {
  height: auto;
  min-height: 35em;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  background-color: rgb(26, 24, 31);
  color: aliceblue;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}
footer li {
  text-decoration: none;
}
footer {
  padding-block: 1em;
  width: 99vw;
  position: relative;
  right: 1%;
  border: 1px solid rgba(0, 77, 13, 0.5);
}

#mixday img {
  width: 150px;
}
#page {
  margin-inline: auto;
}
#slothnav {
  width: 30px;
  border-radius: 50%;
  padding-left: 0.1em;
}
.navbar-brand {
  text-align: start;
}
#leftside {
  background-image: url("https://trome.com/resizer/Uhc3bpxN7LWs8u5N5KqLPx5Oau8=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/ZRXDGQRUTBF2BNBD257ANEQUQA.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  min-height: 30em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
#media {
  display: flex;
  justify-content: space-between;
}
#coverday {
  color: whitesmoke;
  font-size: 300%;
  text-align: center;
  background-color: rgba(0, 22, 3, 0.4);
  padding: 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 77, 13, 0.5);
}
#albumday {
  background-color: rgba(240, 255, 255, 0.063);
  padding: 2em;
}
footer a {
  text-decoration: none;
  color: inherit;
}
#navdiv {
  padding-left: 0;
}
#navbar a {
  font-size: 1.2em;
}
#navbar1 a:nth-child(1) {
  font-size: 1.5em;
}
@media screen and (max-width: 990px) {
  #navbar,
  #navbar1,
  #navbar2,
  #navbar3 {
    display: flex;
    flex-direction: row;
  }
  #navbar,
  #navbar1 {
    width: 100vw;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 1;
  }
  #navbar1 {
    position: sticky;
    height: 5em;
  }
  h1 {
    margin-top: 3em;
    font-size: 200%;
    text-align: center;
  }
  #coverday {
    font-size: 2em;
  }
  #media {
    display: flex;
    flex-direction: column;
    margin-block: 1em;
    justify-content: space-between;
    align-items: flex-start;
  }
  #navbar a {
    font-size: 1em;
  }
  #navbar a:first-child {
    font-size: 1em;
  }
  footer ul {
    justify-content: space-between;
    font-size: 0.7em;
  }
  #slothnav {
    width: 25px;
  }
}
.jumbotron {
  color: white;
  background-image: url(https://static.vecteezy.com/system/resources/previews/003/420/851/non_2x/sloth-music-band-dracula-free-vector.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  /* z-index: 1; */
}
.jumbotron::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* mask: light; */
}

.jumbotron h1,
.jumbotron p,
.jumbotron a {
  z-index: 1;
  position: relative;
}
.jumbotron {
  margin-top: 7%;
  animation: fadeIn 1s;
  background-color: transparent;
  border: 2.5px dotted rgb(41, 0, 0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron h1 {
  text-align: start;
  font-size: 2em;
  font-weight: 600;
}
.bagde1 {
  background-color: aliceblue;
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  width: 50px;
  border-radius: 50%;
}
.delete {
  padding: 0;
}
#modal {
  color: black;
}
