#navbar,
#navbar1,
#navbar2,
#navbar3 {
  display: flex;
  flex-direction: column;
}
#navbar,
#navbar1 {
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}
#navbar1 {
  position: sticky;
}
#sloth {
  width: 50px;
  border-radius: 50%;
}
h1 {
  text-align: center;
  margin-block: 1em;
}
h2 {
  margin-bottom: 1em;
}
h5,
h6 {
  font-weight: 600;
}
h2 {
  font-weight: 700;
}

.card {
  height: 32em;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  background-color: rgb(163, 146, 146);
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}
footer li {
  text-decoration: none;
}
footer {
  padding-block: 1em;
}

#mixday img {
  width: 150px;
}
#page {
  margin-inline: auto;
}
